.head{
    text-align: center;
}
.table{
    width: 80%;
    text-align: center;
    align-items: center;
    margin-left: 100px;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
  }

  .thead{
    background-color: black;
    color: white;
  }